# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/.project
/seahorse/internal/web/aspnetcore/KatavuccolPortal/.vs
/seahorse/internal/web/aspnetcore/KatavuccolPortal/KatavuccolPortalWeb.BusinessService/obj
/seahorse/internal/web/aspnetcore/KatavuccolPortal/KatavuccolPortalWeb.BusinessService/bin/Debug/netcoreapp2.1
/seahorse/internal/shared/aspnetcore_aop/Aop/bin/Debug/netcoreapp2.1
/seahorse/internal/shared/aspnetcore_aop/Aop/obj
/seahorse/internal/shared/KatavuccolClient/bin/Debug/netcoreapp2.1
/seahorse/internal/shared/KatavuccolClient/obj
