# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/.project
/seahorse/internal/web/aspnetcore/KatavuccolPortal/.vs
/seahorse/internal/web/aspnetcore/KatavuccolPortal/KatavuccolPortalWeb.BusinessService/obj
/seahorse/internal/web/aspnetcore/KatavuccolPortal/KatavuccolPortalWeb.BusinessService/bin/Debug/netcoreapp2.1
/seahorse/internal/shared/aspnetcore_aop/Aop/bin/Debug/netcoreapp2.1
/seahorse/internal/shared/aspnetcore_aop/Aop/obj
/seahorse/internal/shared/KatavuccolClient/bin/Debug/netcoreapp2.1
/seahorse/internal/shared/KatavuccolClient/obj
seahorse/internal/businessservices/Servers/Tomcat v9.0 Server at localhost-config/web.xml
seahorse/internal/businessservices/Servers/Tomcat v9.0 Server at localhost-config/tomcat-users.xml
seahorse/internal/businessservices/Servers/Tomcat v9.0 Server at localhost-config/server.xml
seahorse/internal/businessservices/Servers/Tomcat v9.0 Server at localhost-config/context.xml
seahorse/internal/businessservices/Servers/Tomcat v9.0 Server at localhost-config/catalina.properties
seahorse/internal/businessservices/Servers/Tomcat v9.0 Server at localhost-config/catalina.policy
seahorse/internal/businessservices/Servers/.project
seahorse/internal/businessservices/Servers/.settings/org.eclipse.wst.server.core.prefs
*.prefs
seahorse/internal/businessservices/.recommenders/caches/identified-project-coordinates.json
seahorse/internal/businessservices/.recommenders/caches/manual-mappings.json
seahorse/internal/businessservices/applicationdetailservice/target/m2e-wtp/web-resources/META-INF/maven/ApplicationDetailService/ApplicationDetailService/pom.properties
seahorse/internal/database/katavuccol/dev/tables/category.sql
seahorse/.DS_Store
.DS_Store
